# Application Environment Configuration
PROJECT_NAME="KONE Recognition Automation"
ENVIRONMENT=development
DEBUG=True
API_V1_STR=/api/v1
BACKEND_CORS_ORIGINS=["http://localhost:5173","http://127.0.0.1:5173"]

# Server Configuration
HOST=127.0.0.1
PORT=8000
